.modal-dialog{

	background-color: #5C8AE6;
	padding: 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;

	
}


