.navbar{
	
	text-align: center;
	background-color: #BAD1FF;
	padding-bottom: 5px;
}


#access-area{

	
	margin: 10px 10px;
	padding: 5px 10px;
	-webkit-border-radius: 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px;
	border-radius: 10px 10px 10px;
	
}

#access-area a{
	
	margin: 0 5px;
}
	   	